.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product-card {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0;
  }
  
  .search-container input {
    width: 300px; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  h1, h2 {
    text-align: center;
  }
  .add-all-btn {
    margin-top: 20px;
    text-align: center;
  }
  
  .add-all-btn button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
